h1 {
   text-align: center;
   color: red;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
	background-color: #b8b9c8;
}

a {
	float: left;
	text-align: center;
	margin-left: 40%;
	margin-right: 40%;
}